.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #fef6e3;
  font-family: -apple-system, 'Sawarabi Gothic', BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  text-transform: none;
}

.reveal ul, dl {
  padding: 5px;
}

.reveal blockquote {
  width: 100%;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  max-height: 90vh;
  vertical-align: middle;
  text-align: center;
}

.reveal section .attention{
  text-align: center;
    line-height: 1em;
}

.reveal section .font-overall {
  font-size: 10em;
  margin-top: calc(50%  - 1em);
}

.reveal section .font-big {
  font-size: 2em;
  margin-top: calc(50%  - 2.5em);
}

.reveal section{
  margin-top: 3vh;
}

.reveal section h2{
  margin-bottom: 2.5rem;
}

.reveal .author{
  text-align: left;
  margin-top: 3.5em;
}
.reveal .date{
  text-align: left;
  vertical-align: bottom;
  margin-top: 4em;
}

.reveal {
  background-color: #a67c65;

@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');
